Source: giants-kde-artwork
Section: graphics
Priority: optional
Maintainer: Torsten Wohlfarth <towo@siduction.org>,
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/artwork/env-kde
Vcs-Git: https://git.siduction.org/artwork/env-kde.git

Package: giants-kde-artwork
Architecture: all
Depends: ${misc:Depends},
         giants-wallpapers,
         siduction-icons
Description: KDE theme for Masters Of War
 Release specific metapackage depending on ksplash and KDE themes to be
 used in combination with the K Desktop Environment.
